017_SOAP_expose/src/main/resources/api/stringmanupulation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TestWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestWS" targetNamespace="http://www.example.org/TestWS/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/TestWS/">
			<xsd:element name="stringConcat">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="string1" type="xsd:string"/>
						<xsd:element name="string2" type="xsd:string"/>
						<xsd:element name="string3" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="stringConcatResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="stringConcatRequest">
		<wsdl:part element="tns:stringConcat" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="stringConcatResponse">
		<wsdl:part element="tns:stringConcatResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="TestWS">
		<wsdl:operation name="stringConcat">
			<wsdl:input message="tns:stringConcatRequest"/>
			<wsdl:output message="tns:stringConcatResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TestWSSOAP" type="tns:TestWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="stringConcat">
			<soap:operation soapAction="http://www.example.org/TestWS/stringConcat"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TestWS">
		<wsdl:port binding="tns:TestWSSOAP" name="TestWSSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
